[Unit]
Description=NAS Mount Service
After=network.target

[Service]
Type=oneshot
ExecStart={{ script_path }}
StandardOutput=journal
StandardError=journal
# Add any other service options you need here

[Install]
WantedBy=multi-user.target
