#!/bin/bash

# NetworkManager Dispatcher Script

INTERFACE=$1
STATUS=$2

# Define the path of your script
SCRIPT="{{ script_path }}"

# Check if the network interface is up
if [ "$STATUS" = "up" ]; then
    echo "Network is up, executing script" >> /var/log/nas_mount.log
    # Execute the script_path
    bash $SCRIPT
fi
